* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #15202b;
  color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
}

header {
  width: 20%;
  height: 100vh;
}

main {
  border: 1px solid #38444d;
  width: 50%;
  height: 100vh;
}

aside {
  width: 30%;
}
