header {
  position: fixed;
  width: 16%;
  height: 100vh;
  left: 10%;
  border-right: 1px solid #38444d;
}

main {
  position: absolute;
  right: 10%;
  left: 26%;
  display: flex;
}

main .homepage,.bookmarkspage,.profile-page {
  width: 60%;
  border: 1px solid #38444d;
}

main .sidebar {
  width: 40%;
  padding: 5px 0 0 3%;
}
