@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #15202b;
  color: #fff;
  display: flex;
  justify-content: center;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.primary-btn {
  background-color: #1d9bf0;
  border-radius: 25px;
  height: 50px;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header .logo .fa-twitter {
  font-size: 1.7rem;
  border-radius: 40px;
  padding: 14px 15px;
  transition: background-color 0.3s;
  cursor: pointer;
}

header .logo .fa-twitter:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

header ul {
  padding-top: 5px;
}

header ul li {
  list-style: none;
  padding: 1rem 0;
  font-size: 1.3rem;
}

header ul li:last-child {
  padding: 0;
}

header ul li a,
header ul li button {
  cursor: pointer;
  border-radius: 40px;
  padding: 12px 20px 12px 15px;
  transition: background-color 0.2s;
}

header ul li a:hover,
header ul li button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

header ul li i {
  padding-right: 16px;
}

header .tweet-btn {
  width: 90%;
  font-weight: bold;
  margin: 10px 0;
  transition: background-color 0.2s;
}

header .tweet-btn:hover {
  background-color: #177cc0;
}

header .profile {
  display: flex;
  margin: 0 20px 15px 0;
  position: relative;
  cursor: pointer;
  border-radius: 40px;
  padding: 12px 40px 7px 12px;
  transition: background-color 0.3s;
}

header .profile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

header .profile .profile-picture {
  padding-right: 10px;
}

header .profile .profile-picture img {
  width: 40px;
  border-radius: 50%;
}

header .profile .full-name {
  font-weight: 600;
}

header .profile .username {
  color: #8899a6;
}

header .profile .fa-ellipsis-h {
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
}

/* Homepage */
.homepage {
}

/* Sidebar */

.sidebar {
  padding: 5px 0 0 2%;
}

.sidebar .search-bar {
  position: fixed;
  top: 0;
  right: 10%;
  width: 25%;
  padding: 5px;
  /* background-color: rgba(21, 32, 43, 0.75); */
  background-color: rgb(21, 32, 43);
  z-index: 1;
}

.sidebar .search-bar .fa-search {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  color: #8899a6;
}

.sidebar .search-bar input {
  width: 100%;
  height: 45px;
  background-color: #253341;
  border: none;
  border-radius: 25px;
  padding: 0 3.4rem;
  color: #fff;
  font-size: 0.9rem;
}

.sidebar .search-bar input::placeholder {
  color: #8899a6;
}

.sidebar .search-bar input:focus {
  background-color: #15202b;
  outline: 1px solid #1d9bf0;
}

.sidebar .search-bar input:focus + .fa-search {
  color: #1d9bf0;
}

.sidebar .content {
  width: 100%;
  margin-top: 40px;
  padding-top: 15px;
}

.sidebar .content .news {
  border-radius: 20px;
  width: 100%;
  background-color: #253341;
  padding: 15px;
}

#home-header{
  z-index: 1;
  background-color: transparent;
  background-color: #15202bbf;
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0%;
}
#write-header{
  padding-left: 2%;
  padding-top: 2%;
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 22px;
  width: 80%;
  height: auto;
  z-index: -1;
}
#write-header::placeholder {
  color: white;
  opacity: 0.5;
}
#write-header:focus{
  outline-style: none;
	box-shadow: none;
}
#upload-list ul{
  list-style: none;
  float: left;
}
#upload-list ul li{
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

#upload-list ul li:hover{
  background-color: #1d9cf017;
}
#upload-list ul li svg{
  width:20px;
  fill: #1d9bf0;
  display: block;
  margin:20% auto;
}
#tweet-btn{
  float: right;
  font-size: 20px;
  width: 20%;
  height: 35px;
  border-radius: 20px;
  background-color: #1d9bf0;
}
#tweet-btn:hover{
  background-color: #177cc0;
}
#post-footer>button{
  width: 25%;
  margin: 1% 6%;
  font-size: 15px;
  color: white;
  opacity: 0.5;
  display:flex;
}
#post-footer>button>i{
  border-radius: 50%;
  padding: 8px;
}

#reply-btn #retweet-btn #like-btn #share-btn:hover i,label{
  padding: 8px;
}

#reply-btn:hover{
  color: #1d9bf0;
  opacity: 1;
}
#reply-btn:hover i{
  background-color: #1d9cf017;
}
#retweet-btn:hover{
  color: #06996C;
  opacity: 1;
}
#retweet-btn:hover i{
  background-color: #192f369a;
}
#like-btn:hover{
  color: #CC2275;
  opacity: 1;
}
#like-btn:hover i{
  background-color: #2f2438c2;
}
#share-btn:hover{
  color: #1d9bf0;
  opacity: 1;
}
#share-btn:hover i{
  background-color: #1d9cf017;
}
#timeline-options-btn{
  float: right;
  border-radius: 50%; 
  width: 35px;
  margin-top: 1%;
  cursor: pointer;
}
#options-svg{
  width:20px; 
  fill: white;
}
#timeline-options-btn:hover{
  background-color: #ffffff1a;
}
.post-container{
  padding: 2%;
  border-bottom:1px solid #38444d;
  width: 100%;

}
.post-container:hover{
  background-color: #1B2631;
}
.logged-user-image{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: left;
}
.name-username-style{
  padding-left:2%; 
  font-size: 15px;
  float: left;
}
.name-username-style:hover{
  text-decoration: underline;
}
.post-article{
  clear: both;
  padding-left:2% ;
  font-size: 15px;
  line-height: 1.2rem;
}
.post-media{
  padding-top: 2%;
  width:100%
}
.settings-btn{
  border-radius: 50%; 
  width: 35px;
  height: 35px;
  font-size: 18px;
  color: #8899a6;
  margin-top: 1%;
  cursor: pointer;float: right;
}
.settings-btn:hover i{
  color: #1d9bf0;
  opacity: 1;
}
.settings-btn:hover {
  background-color: #1d9cf017;
}
/******************************************** loading ********************/
.lds-ring {
  display: inline-block;
  position: relative;
  width:100%;
  height: 40px;
  padding: 0px 45%;
}
.hidden{
  display: none;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 8px;
  border: 3px solid #1d9bf0;
  border-radius:50%;
  animation: lds-ring 0.7s linear infinite;
  border-color: #1d9bf0 #1d9cf017 #1d9cf017 #1d9cf017;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  -webkit-animation: lds-ring 0.7s linear infinite;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100% {
    transform: rotate(360deg);
  }
}
